/* Rotation to give the blob more natural feeling of "Blobbing" */
@keyframes blobRotate {
    100% { transform: rotate(360deg); }
}

#blobContainer {
    animation-name: blobHover, blobRotate;
    animation-duration: 7.3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}


/* !
? fill:url(#pattern);
? https://stackoverflow.com/questions/14051351/svg-gradient-using-css?answertab=votes
? "Answer 2019"

? https://css-tricks.com/how-to-do-knockout-text/
! */
