.svg-button{
    margin: 0;
    padding: 0;
    border: 0;
}

#blobContainer {
    position: absolute;
    top: 650px;
    left: 300px;

    z-index: 1;
}

.p-home-intro {
    text-align: left;
    min-width: 22vw;
    width: 22vw;
    margin: auto;
    margin-top: -0.9vw;
}

/* .sticky-link-wrapper:hover > #navLink1 ~ #navLink2 ~ #navLink3 {
    transform: scale(2300);
} */
/* ! TODO: Transform only the blob inside the nav*/

.bouncy-nav-link {
    display: inline-block;
    position: relative;
    transition: transform 100ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.bouncy-nav-link:hover {
    transform: scale(1.25) translate(12.5%);
}

.avatar-img {
    min-height: 10vh;
    max-height: 100vh;
}

.footer-links {
    padding: 0 16vw 0 16vw;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.mail-link {
    color: rgba(0,0,0,0);
    background: linear-gradient(90deg,#d15151,#8c16bb 50%,#5759d4);
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.0001);
    -webkit-background-clip: text;
    opacity: 1;

    font-weight: 800;
    font-size: 3rem;
}

.git-link {
    color: rgba(0,0,0,0);
    background: linear-gradient(90deg,#5759d4,#16a2bb 50%,#57d481);
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.0001);
    -webkit-background-clip: text;
    opacity: 1;

    font-weight: 800;
    font-size: 3rem;
}
