.svg-button{
    margin: 0;
    padding: 0;
    border: 0;
}

#blobSvgContainer {
    position: absolute;
    top: 70vh;
    left: 17vw;

    z-index: 0;

    aspect-ratio: 1/1;
    width: clamp(20rem, 22vw, 10000px);
}

.p-home-intro {
    font-size: clamp(1rem, 1.55vw, 20rem);

    text-align: left;
    width: 26vw;
}

/* .sticky-link-wrapper:hover > #navLink1 ~ #navLink2 ~ #navLink3 {
    transform: scale(2300);
} */
/* ! TODO: Transform only the blob inside the nav*/

.bouncy-nav-link {
    display: inline-block;
    position: relative;
    transition: transform 100ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.bouncy-nav-link:hover {
    transform: scale(1.25) translate(12.5%);
}

.avatar-img {
    min-height: 10vh;
    max-height: 100vh;
}

.footer-links {
    padding: 0 16vw 0 16vw;
    margin: 3vw 0 3vw 0;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footerLinksSeparator {
    font-weight: 800;
    font-size: clamp(1rem, 1.8vw, 2.8rem);
}

.mail-link {
    color: rgba(0,0,0,0);
    background: linear-gradient(90deg,#d15151,#8c16bb 50%,#5759d4);
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.0001);
    -webkit-background-clip: text;
    opacity: 1;

    font-weight: 800;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

.socialLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialLinksText {
    color: rgba(0,0,0,0);
    background: linear-gradient(90deg,#5759d4,#16a2bb);
    background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.0001);
    -webkit-background-clip: text;
    opacity: 1;

    font-weight: 800;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

.TwitterLink {
    padding: 0 4.2vh;
    height: 45px;
}

.GitLink {
    height: 45px;
}

#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #0b0b0b;
    padding: 10% 3% 20% 3%;
    margin: 0;
    max-height: 100vh;
    min-height: 100vh;
    text-align: center;
}

#footerH {
    padding: 5vw;
}

#footerP {
    font-size: clamp(1.2rem, 2vw, 3.5rem);
}

@media screen and (max-width: 791px) {
    #blobSvgContainer {
        margin: -10%;
    }

    .sticky-nav-grid-wrapper {
        height: max-content;
        width: 100%;

        background-color: #f0d9d7;
        color: black;

        margin-left: 0;
    }

    .sticky-nav-links-wrapper {
        flex-direction: row;
        justify-content: space-around;

        width: 100%;

        padding: 3% 0 3% 0;
    }

    .sticky-link-wrapper {
        align-items: center;
    }

    #navBlob {
        transform:rotate(90deg);
    }

    .bouncy-nav-link {
        font-size: 4vw;
    }

    #footerLinks {
        flex-direction: column;
        align-items: center;
    }

    .home-wrapper {
        padding: 0 15% 0 15%;
    }

    .home-avatar-wrapper {
        width: 45vw;
    }

    .p-home-intro {
        width: 90%;
    }

    .Lemons {
        flex-direction: column;
        align-items: center;
    }

    .LemonsImg {
        width: 70vw;
    }

    .LemonsText {
        width: 60vw;
        margin: 10% 0 5% 0;
    }

    .MoodBoard {
        flex-direction: column-reverse;
    }

    .MoodBoardImg {
        width: 60vw;
    }

    .MoodBoardText {
        width: 60vw;
        margin: 10% 0 5% 0;
    }
}


@media screen and (max-width: 668px) {
    .home-avatar {
        width: calc(100px + 50vw);
    }
}



.cookiesPopup {
    font-family: Roboto, "Open Sans", Arial, Helvetica;
    font-size: clamp(0.8rem, 0.7vw, 8rem);
    line-height: 1.42;
    text-align: center;
    color: #04060a;

    position: fixed;

    width: 28%;

    right: 0;
    bottom: 0;

    padding: 1.2% 1.2% 1.2% 1.2%;
    margin: 1.25%;

    border-radius: 1.5vw;
    box-shadow: 0 0 0.5vw rgba(126, 126, 126, 0.493);

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

    z-index: 5;
}

.cookiesH2 {
    font-size: clamp(1.2rem, 1vw, 10rem);
    line-height: normal;
    padding: 0 0 1% 0;
}

.cookiesBtnContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: flex-end;
}

.cookiesBtn {
    width: max-content;
    margin: 5% 2% 0 2%;
}

.cookiesDeclineBtn {
    opacity: 0.5;
    color: #04060a;
    background-color: transparent;
}

.cookiesPolicyBtn {
    opacity: 0.5;
    color: #04060a;
    background-color: transparent;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    #cookies-Popup {
        width: 70%;

        padding: 4%;

        left: 15%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 500px) {
    #cookies-Popup {
        width: 100%;
        padding: 6%;
        margin: 0;


        left: 0;
        right: 0;

        margin-bottom: 0;

        border-radius: 0;
    }

    .cookiesBtn {
        padding: 5%;
    }
}
