body {
    box-sizing: border-box;

    width: 100%;
    min-height: 100vh;

    margin: 0;

    font-family: 'Poppins', sans-serif;
    line-height: normal;
    color: rgb(245, 245, 245);
}

h1 {
    font-size: 10rem;
    text-align: center;
    line-height: 0;
}

h2 {
    font-size: 10rem;
    text-align: center;
    line-height: 1.85rem;
}

p {
    font-size: 1.563rem;
}

a {
    display: inline-block;

    font-family: inherit;
    font-size: 1.563rem;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}
