body {
    width: 100%;
    min-height: 100vh;

    margin: 0;

    font-display: swap;
    font-family: 'Poppins', 'Verdana', sans-serif;
    line-height: normal;
    color: rgb(245, 245, 245);

    text-align: center;

    font-size: clamp(0.8rem, 1.3vw, 20rem);
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: clamp(5rem, 8vw, 20rem);
    text-align: center;
    line-height: 0;
}

h2 {
    font-size: clamp(4.5rem, 8vw, 40rem);
    text-align: center;
    line-height: clamp(5rem, 7.9vw, 40rem);
    padding: 3.3vw 0 3.3vw 0;
}

h3 {
    font-size: clamp(2rem, 3vw, 30rem);
    text-align: center;
    line-height: 1;
    margin: auto;
}

/* Secondary title of h3 */
.h3-2 {
    text-align: center;

    font-size: clamp(1.5rem, 2vw, 28rem);
    font-weight: 500;
    line-height: 1;

    margin: auto;
    padding: 0.2vw 0 1vw 0;
}

a {
    display: inline-block;

    font-family: inherit;
    font-size: clamp(0.75rem, 1.28vw, 20rem);
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}


button {
    color: rgb(245, 245, 245);
    background-color: rgb(48, 185, 43);
    border: none;
    min-width: max-content;
    padding: 4%;
    border-radius: 15px;
}

button:hover {
    background-color: #464646;

    cursor: pointer;
}

main {
    overflow: hidden;
    width: 100wv;
    height: 100%;
}

/* Helper classes shadows */
.small-dark-shadow {
    text-shadow:0 0 5px rgba(20, 20, 20, 0.2);
}

.small-light-shadow {
    text-shadow:0 0 5px rgba(240, 240, 240, 0.2);
}
