/* Sticky Navigation/Header */
.sticky-nav-grid-wrapper {
    display: grid;
    grid-template-rows: repeat(10, 1fr);

    height: 100%;
    max-width: max-content;
    margin-left: 5%;

    position: fixed;
    top: 0;
    z-index: 3;
}

.sticky-nav-header {
    display: none; /* ! TODO: Make hidden outside of 'Home' section of site */
    grid-row: 1;
    font-size: 25px;
}

.sticky-nav-links-wrapper {
    grid-row: 5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}

.sticky-link-wrapper {
    display: flex;
}

.sticky-link-wrapper > a {
    margin: 8px 0;
}

/* Home/Site's First Section Grid */
.home-grid-wrapper {
    display: grid;
    grid-template-columns: 10vw repeat(4, 1fr) 10vw;
    grid-auto-rows: auto;
    /* max-height: clamp(1080px, 100vh, 2000px); */
    background-image: url("../imgs/bgs/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%; /* ! TODO: Make this ~95vh so to start the next page within this viewport as to chain content together */

    width: 100%;
    height: 100%;
    /* Making the content closer together while keeping the bg full width*/
    padding: 0 10% 0 10%;

    z-index: -1;
}

.home-grid-wrapper > * {
    z-index: 1;
}

.home-h-grid {
    grid-column: 3;
    grid-row: 2/3;
}

.home-p-grid {
    grid-column: 3;
    grid-row: 3;
}

.home-avatar-grid {
    grid-column: 5;
    grid-row: 1/6;
    align-self: end;
    /* ! TODO: Make this image responsive */
    /* ? IDEA: clamp could solve grid resizing issues? */
    /*! max-height: clamp(1px, 0, 2px);  TODO: fix this, it's just not working as of now */
}


/* Home/Site's First Section Grid */
.projects-grid-wrapper {
    display: grid;
    grid-template-rows: 40vh 75vh 75vh;
    grid-template-columns: 100%;
    width: 100%;

    background-image: url("../imgs/bgs/bgFade.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /* Making the content closer together while keeping the bg full width*/
    padding: 0 10% 0 10%;

    z-index: -1;
}

.projects-grid-wrapper * {
    z-index: 1;
}

/* Header of the grid */
.Projects {
    grid-row: 1;
}

/* 1st Grid */
.Lemons {
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    max-width: 100%;
}

.LemonsText {                                   /* Flex: Lemons Text */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #f1c40f;
    border-radius: 25px;

    padding: 2vw;
    width: 30vw;

    height: fit-content;
    align-self: center;
}

/* Lemons grid elements */
.LemonsH {
    align-self: center;
}

.LemonsP {
    align-self: center;
    line-height: 1;
}

.LemonsConnector {
    grid-column: 2;
    grid-row: 1/2;

    align-self: center;
    background-color: #f1c40f;
    height: 18vh;
}

.LemonsSite {
    grid-column: 3;
    grid-row: 1/2;

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: fit-content;

    text-align: center;

    background-color: #f1c40f;
    padding: 0.5vw;
    border-radius: 42px;
}

.LemonsLink {
    background-color: rgb(50, 161, 50);
    padding: 2%;
    margin: 2px 0 2px 0;
    border-radius: 25px;
    width: max-content;
}

/* 2nd Grid */
.ComingSoon {
    grid-row: 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    max-width: 100%;
}

/* ComingSoon grid elements */
.SoonText {                                   /* Flex: Lemons Text */
    grid-column: 3;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #b4b4b4;
    border-radius: 25px;

    padding: 2vw;
    width: 30vw;

    height: fit-content;
    align-self: center;
}

.SoonH {
    align-self: center;
}


.SoonConnector {
    grid-column: 2;
    grid-row: 1;

    align-self: center;
    background-color: #b4b4b4;
    height: 10vh;
}

.SoonSite {
    grid-column: 1;
    grid-row: 1;

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: fit-content;

    text-align: center;

    background-color: #b4b4b4;
    padding: 0.5vw;
    border-radius: 42px;
}

.SoonLink {
    background-color: rgb(75, 75, 75);
    padding: 2%;
    margin: 2px 0 2px 0;
    border-radius: 25px;
    width: max-content;
}
